[Unit]
Description=Prometheus Nagios Exporter Service

[Service]
ExecStart=/opt/mlab/prometheus-nagios-exporter/nagios_exporter.py \
    --path /var/lib/nagios3/rw/live \
    --perf_data "--data_names=check_disk_boot=used;;;;total" \
    --whitelist nagios_check_disk_boot_perf_data_total \
    --whitelist nagios_check_disk_boot_perf_data_used \
    --whitelist nagios_check_vdlimit_iupui_ndt_perf_data \
    --whitelist nagios_check_ndt_state \
    --whitelist nagios_check_ndt_ssl_state \
        --whitelist nagios_check_vdlimit_iupui_ndt_state \
        --whitelist nagios_check_lame_duck_iupui_ndt_state \
        --whitelist nagios_check_ndt_e2e_state \
        --whitelist nagios_check_tcp_state \
        --whitelist nagios_check_http_state \
    --whitelist nagios_check_mobiperf_state \
    --whitelist nagios_check_neubot_state

StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=prometheus-nagios-exporter.service
